{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{% endblock title %}

{% block content %}
    <div style="display: flex;">
        <div class="post">
            <form class="fo" action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Post title" required></input><br>
                <label for=post">Post:</label>

                <textarea rows="3" class="textarea" name="post" required></textarea>

                <button class="bu" type="submit">Post</button>
            </form>
        </div>

        <div style="margin-left: 47%; width: 50%;">
            {% for u in data %}
            <div class="disp">
                    {{u.username}}<br>
                    {{u.created_at}}
                        <div id="data">
                            {{u.title}}<br>
                            {{u.post}}
                        </div>
            </div><br><br>
            {% endfor %}

            <!--for search funtionality-->
            {% if searched %}
                <p>Showing results for: {{searched}}</p>
            {% else %}
                <p>please type something to search</p>
            {% endif %}
            {% if results %}
                {% for blog_post in results %}
                    <div class="disp">
                        {{blog_post.username}}<br>
                        {{blog_post.created_at}}
                        <div id="data">
                            {{blog_post.title}}<br>
                            {{blog_post.post}}
                        </div>
                    </div><br><br>
                {% endfor %}
            {% else %}
                {% if searched %}
                    <p>No results found for {{searched}}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}